parameters:
    #Deprecated parameters
    env(ELASTICSEARCH_CLUSTER): '["http://localhost:9200"]'
    env(EMS_PRIVATE_KEY): ''
    env(EMS_PUBLIC_KEY): ''
    env(S3_BUCKET): ''
    env(S3_CREDENTIALS): '[]'
    env(STORAGE_FOLDER): ''
    env(EMS_SFTP_SERVEUR): ''
    env(EMS_SFTP_PATH): ''
    env(EMS_SFTP_USER): ''
    env(EMS_EMS_REMOTE_SERVER): ''
    env(EMS_EMS_REMOTE_AUTHKEY): ''
    env(EMS_SAVE_ASSETS_IN_DB): 'false'

    #Parameters
    env(EMS_HASH_ALGO): 'sha1'
    env(EMS_ELASTICSEARCH_HOSTS): '%env(ELASTICSEARCH_CLUSTER)%'
    env(EMS_STORAGES): '[{"type":"fs","path":"%env(STORAGE_FOLDER)%"},{"type":"s3","credentials":%env(S3_CREDENTIALS)%,"bucket":"%env(S3_BUCKET)%"},{"type":"db","activate":%env(EMS_SAVE_ASSETS_IN_DB)%},{"type":"http","base-url":"%env(EMS_EMS_REMOTE_SERVER)%","auth-key":"%env(EMS_EMS_REMOTE_AUTHKEY)%"},{"type":"sftp","host":"%env(EMS_SFTP_SERVEUR)%","path":"%env(EMS_SFTP_PATH)%","username":"%env(EMS_SFTP_USER)%","public-key-file":"%env(EMS_PUBLIC_KEY)%","private-key-file":"%env(EMS_PRIVATE_KEY)%"}]'

ems_common:
    hash_algo: '%env(string:EMS_HASH_ALGO)%'
    elasticsearch_hosts: '%env(json:EMS_ELASTICSEARCH_HOSTS)%'
    storages: '%env(json:EMS_STORAGES)%'