parameters:
    #Deprecated parameters
    env(ELASTICSEARCH_CLUSTER): '["http://localhost:9200"]'
    env(TIKA_SERVER): ''
    env(TIKA_DOWNLOAD_URL): 'http://apache.belnet.be/tika/tika-app-1.22.jar'
    env(EMS_PRIVATE_KEY): ''
    env(EMS_PUBLIC_KEY): ''
    env(EMS_INSTANCE_ID): 'elasticms_'
    env(EMS_NAME): '<i class="ems-icon-ball"></i> elastic<b>ms</b>'
    env(EMS_SHORTNAME): '<i class="ems-icon-ball"></i><span class="sr-only">elasticms</span>'
    env(EMS_SINGLE_TYPE_INDEX): false
    env(EMS_PAGING_SIZE): 20
    env(EMS_THEME_COLOR): 'blue'
    env(EMS_DATE_TIME_FORMAT): 'j/m/Y \a\t G:i'
    env(EMS_DATEPICKER_FORMAT): 'dd/mm/yyyy'
    env(EMS_DATEPICKER_WEEKSTART): 1
    env(EMS_DATEPICKER_DAYSOFWEEK_HIGHLIGHTED): '[0, 6]'
    env(EMS_FROM_EMAIL_ADDRESS): 'elasticms@example.com'
    env(EMS_FROM_EMAIL_NAME): 'elasticms'
    env(EMS_ALLOW_USER_REGISTRATION): false
    env(EMS_ASSET_CONFIG): '[]'
    env(EMS_CIRCLES_OBJECT): ''

    #Parameters
    env(EMS_ELASTICSEARCH_HOSTS): '%env(ELASTICSEARCH_CLUSTER)%'
    env(EMSCO_TIKA_SERVER): '%env(TIKA_SERVER)%'
    env(EMSCO_TIKA_DOWNLOAD_URL): '%env(TIKA_DOWNLOAD_URL)%'
    env(EMSCO_PRIVATE_KEY): '%env(EMS_PRIVATE_KEY)%'
    env(EMSCO_PUBLIC_KEY): '%env(EMS_PUBLIC_KEY)%'
    env(EMSCO_INSTANCE_ID): '%env(EMS_INSTANCE_ID)%'
    env(EMSCO_NAME): '%env(EMS_NAME)%'
    env(EMSCO_SHORTNAME): '%env(EMS_SHORTNAME)%'
    env(EMSCO_SINGLE_TYPE_INDEX): '%env(EMS_SINGLE_TYPE_INDEX)%'
    env(EMSCO_PAGING_SIZE): '%env(EMS_PAGING_SIZE)%'
    env(EMSCO_THEME_COLOR): '%env(EMS_THEME_COLOR)%'
    env(EMSCO_DATE_TIME_FORMAT): '%env(EMS_DATE_TIME_FORMAT)%'
    env(EMSCO_DATEPICKER_FORMAT): '%env(EMS_DATEPICKER_FORMAT)%'
    env(EMSCO_DATEPICKER_WEEKSTART): '%env(EMS_DATEPICKER_WEEKSTART)%'
    env(EMSCO_DATEPICKER_DAYSOFWEEK_HIGHLIGHTED): '%env(EMS_DATEPICKER_DAYSOFWEEK_HIGHLIGHTED)%'
    env(EMSCO_FROM_EMAIL_ADDRESS): '%env(EMS_FROM_EMAIL_ADDRESS)%'
    env(EMSCO_FROM_EMAIL_NAME): '%env(EMS_FROM_EMAIL_NAME)%'
    env(EMSCO_ALLOW_USER_REGISTRATION): '%env(EMS_ALLOW_USER_REGISTRATION)%'
    env(EMSCO_ASSET_CONFIG): '%env(EMS_ASSET_CONFIG)%'
    env(EMSCO_CIRCLES_OBJECT): '%env(EMS_CIRCLES_OBJECT)%'
    env(EMSCO_TRIGGER_JOB_FROM_WEB): true


ems_core:
    private_key:  '%env(string:EMSCO_PRIVATE_KEY)%'
    public_key:  '%env(string:EMSCO_PUBLIC_KEY)%'
    elasticsearch_cluster: '%env(json:EMS_ELASTICSEARCH_HOSTS)%'
    instance_id: '%env(string:EMSCO_INSTANCE_ID)%'
    name: '%env(string:EMSCO_NAME)%'
    shortname: '%env(string:EMSCO_SHORTNAME)%'
    paging_size: '%env(int:EMSCO_PAGING_SIZE)%'
    theme_color: '%env(string:EMSCO_THEME_COLOR)%'
    date_time_format:  '%env(string:EMSCO_DATE_TIME_FORMAT)%'
    datepicker_format:  '%env(string:EMSCO_DATEPICKER_FORMAT)%'
    datepicker_weekstart:  '%env(int:EMSCO_DATEPICKER_WEEKSTART)%'
    datepicker_daysofweek_highlighted: '%env(json:EMSCO_DATEPICKER_DAYSOFWEEK_HIGHLIGHTED)%'
    from_email:
        address: '%env(string:EMSCO_FROM_EMAIL_ADDRESS)%'
        sender_name: '%env(string:EMSCO_FROM_EMAIL_NAME)%'
    allow_user_registration: '%env(bool:EMSCO_ALLOW_USER_REGISTRATION)%'
    storage_folder: ''
    upload_folder: ''
    circles_object: '%env(string:EMSCO_CIRCLES_OBJECT)%'
    asset_config: '%env(json:EMSCO_ASSET_CONFIG)%'
    tika_server: '%env(string:EMSCO_TIKA_SERVER)%'
    tika_download_url: '%env(string:EMSCO_TIKA_DOWNLOAD_URL)%'
    single_type_index: '%env(bool:EMSCO_SINGLE_TYPE_INDEX)%'
    sftp_server: ''
    sftp_path: ''
    sftp_user: ''
    ems_remote_host: ''
    ems_remote_authkey: ''
    trigger_job_from_web:  '%env(bool:EMSCO_TRIGGER_JOB_FROM_WEB)%'
