parameters:
  env(EMSCH_LOG_INSTANCE_ID): website_
  env(EMSCH_LOG_BY_PASS): true
  env(EMSCH_ELASTICSEARCH_CLUSTER): '["http://localhost:9200"]'
  env(EMS_ELASTICSEARCH_HOSTS): '%env(string:EMSCH_ELASTICSEARCH_CLUSTER)%'
  env(EMSCH_LOCALES): '["fr","nl"]'
  env(EMSCH_BIND_LOCALE): true
  env(EMSCH_ENVS): '{}'

  env(EMSCH_TEMPLATE_LANGUAGE): ~
  env(EMSCH_TEMPLATE_SEARCH):   ~
  env(EMSCH_TEMPLATE_ERROR):    ~
  env(EMSCH_TEMPLATE_EMS_LINK): '@@EMSCH/template/{type}.ems_link.twig'

  env(EMSCH_DUMP_ASSETS): true

  env(EMSCH_BACKEND_URL): ~
  env(EMSCH_BACKEND_API_KEY): ~
ems_client_helper:
  api:
    backend:
      url: '%env(string:EMSCH_BACKEND_URL)%'
      key: '%env(string:EMSCH_BACKEND_API_KEY)%'
  locales: '%env(json:EMSCH_LOCALES)%'
  bind_locale: '%env(bool:EMSCH_BIND_LOCALE)%'
  log:
    hosts: '%env(json:EMS_ELASTICSEARCH_HOSTS)%'
    instance_id: '%env(string:EMSCH_LOG_INSTANCE_ID)%'
    by_pass: '%env(bool:EMSCH_LOG_BY_PASS)%'
  request_environments: '%env(json:EMSCH_ENVS)%'
  dump_assets: '%env(bool:EMSCH_DUMP_ASSETS)%'
  elasticms:

  templates:
    language: '%env(string:EMSCH_TEMPLATE_LANGUAGE)%'
    search:   '%env(string:EMSCH_TEMPLATE_SEARCH)%'
    error:    '%env(string:EMSCH_TEMPLATE_ERROR)%'
    ems_link:  '%env(string:EMSCH_TEMPLATE_EMS_LINK)%'
  user_api:
    url: '%env(string:EMSCH_BACKEND_URL)%'