parameters:
  env(EMS_HASH_ALGO): 'sha1'

twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
      ems_hash_algo: '%env(string:EMS_HASH_ALGO)%'
    paths:
          '%kernel.project_dir%/vendor/elasticms/core-bundle/src/Resources/views': FOSUser
          '%kernel.project_dir%/vendor/elasticms/core-bundle/src-user/Resources/views': FOSUser