twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    paths:
          '%kernel.project_dir%/vendor/elasticms/local-user-bundle/Resources/views': FOSUser
          '%kernel.project_dir%/vendor/friendsofsymfony/user-bundle/Resources/views': FOSUser
