# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #ems variable
    instance_id:       ems_
    ems_name: '<i class="ems-icon-ball"></i> elastic<b>ms</b>'
    ems_shortname: '<i class="ems-icon-ball"></i><span class="sr-only">elasticms</span>'
    filesystem_storage_folder: ~
    upload_folder: ~
    ems_circles_object: ~
    ems_private_key: ~
    from_email_address: elasticms@example.com
    from_email_name: elasticms
    elasticsearch_cluster: ['http://localhost:9200']
    theme_color: blue
    audit_index: ~
    ems_asset_config_type: ~
    ems_asset_config_index: ~
    tika_server: ~
    elasticsearch_version: '5.4'
    single_type_index: false
